<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://5minutes.link/fivemin" version="1.0.0" height="360" width="360" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="YWW5xQ7sHt.fivemin" package="YWW5xQ7sHt" required_version="2.3.1"/>
    <author href="https://5minutes.link" email="thorinair@gmail.com">Denis Vajak, Josip Balen</author>
    <content src="index.html"/>
    <description>5Minutes is a standalone application designed to allow people to easily invite each other to events on short notice.</description>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <feature name="http://tizen.org/feature/network.internet"/>
    <feature name="http://tizen.org/feature/network.push"/>
    <feature name="http://tizen.org/feature/input.rotating_bezel"/>
    <feature name="http://tizen.org/feature/screen.shape.circle"/>
    <feature name="http://tizen.org/feature/web.service"/>
    <icon src="icon.png"/>
    <name>5Minutes</name>
    <tizen:privilege name="http://tizen.org/privilege/push"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/download"/>
    <tizen:privilege name="http://tizen.org/privilege/content.read"/>
    <tizen:privilege name="http://tizen.org/privilege/content.write"/>
    <tizen:privilege name="http://tizen.org/privilege/download"/>
    <tizen:profile name="wearable"/>
    <tizen:setting hwkey-event="enable"/>
</widget>
